input[type="checkbox"] {
    margin: 0px;
}

.btn-circle {
    border-radius: 50%;
}

.padding-10 {
    padding: 10px;
}

.border-top-10 {
    margin-top: 20px;
}

.border-top-20 {
    margin-top: 20px;
}

.container-fluid > h2 {
    text-align: center;
}